.v-main-info__top {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.v-main-info__temp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px
}

.v-main-info__row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    gap: 5px
}

.v-main-info__row.row__long {
    justify-content: space-between
}

.v-main-info__row.center {
    align-items: center
}

.v-main-info__txt {
    color: #fff
}

.v-main-info__txt.long {
    font-size: 20px
}

.v-main-info__img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px
}

.card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-bottom: 20px
}

.card__item {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    list-style: none
}

.card__title {
    color: #efeded;
    margin-bottom: 10px
}

.card__img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 20px
}

.card__row {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.card__row.mb {
    margin-bottom: 10px
}

.card__row.center {
    align-items: center;
    justify-content: center
}

.card__txt {
    color: #fff;
    font-size: 14px
}

.v-small-info {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px
}

.v-small-info__txt {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px
}

.v-small-info__txt.mb {
    margin-bottom: 10px
}

button,
a {
    cursor: pointer
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,
body {
    min-height: 100vh;
    font-family: Montserrat, sans-serif
}

.page {
    width: 100%;
    min-height: 100vh
}

@media (max-width: 720px) {
    .page__btn {
        top: 0 !important;
        right: 0 !important;
        position: relative !important;
        margin-right: 20px;
        margin-left: auto;
        margin-top: 10px
    }

    .screen {
        max-width: 95% !important;
        width: 100%
    }
}

@media (max-width: 568px) {
    .screen__top {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 10px
    }
}

@media (max-width: 500px) {
    .card__list {
        grid-template-columns: 1fr !important;
        grid-row-gap: 10px
    }

    .v-main-info__row.row__long {
        flex-direction: column !important;
        gap: 10px;
        align-items: flex-start
    }
}

@media (max-width: 375px) {
    .v-small-info__txt {
        font-size: 12px
    }
}

.page {
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3 linear;
    background-attachment: fixed;
    background-position: top;
    position: relative
}

.page:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .3s linear
}

.page__btn {
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    overflow: hidden;
    background: rgba(255, 255, 255, .2);
    transition: all .3s linear
}

.page__btn-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s linear
}

.page__btn-img.two {
    top: 150%
}

.page__btn.btn_active {
    background: rgba(0, 0, 0, .5)
}

.page__btn.btn_active .page__btn-img.two {
    top: 50%
}

.page__btn.btn_active .page__btn-img.one {
    top: -150%
}

.page.page_error:before {
    opacity: 1
}

.screen {
    max-width: 550px;
    margin-block: 20px;
    width: 100%;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 7px;
    background: rgba(255, 255, 255, .2);
    position: relative;
}

.screen__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}

.screen__title {
    color: #fff
}

.screen__time {
    color: #fff;
    font-weight: 500;
    font-size: 18px
}

.screen__field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px
}

.screen__input {
    max-width: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 6.5px;
    padding-block: 3px;
    padding-inline: 10px;
    color: #fff
}

.screen__input::placeholder {
    color: #efeded
}

.screen__btn {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none
}

.screen__btn svg {
    width: 100%;
    height: 100%
}

.screen__cord {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff
}

.screen__cord-img {
    width: 25px;
    height: 25px
}

.card__txt.error {
    color: red
}